@page
@model Lanchonete.Views.Shared.carrosselModel
@{
}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/imagens/carousel11.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/carousel12.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/imagens/carousel13.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>



<div class="col-12">
    <br />
    <br />
    <div class="container col-3 d-inline-flex p-0">
        <div class="card">
            <h1 class="m-2">MENU</h1>


            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>

        </div>
    </div>

    <div class="container col-8 d-inline-flex">
        <div class="card border-0">
            <h1 class="m-2">LANCHONETE</h1>

            <div class="card-group">

            <div class="card" style="width: 15rem;">
                <img src="~/imagens/hamburguer-picanha.jpg" class="card-img-top" class="card-img-top" alt="Imagem invalida" />
                <div class="card-body">
                    <h5 class="card-title">Picanha</h5>
                    <p class="sssss"</p>
                </div>
            </div>

            <div class="card" style="width: 15rem;">
                <img src="~/imagens/hamburguer-picanha.jpg" class="card-img-top" class="card-img-top" alt="Imagem invalida" />
                <div class="card-body">
                    <h5 class="card-title">Picanha</h5>
                    <p class="sssss"</p>
                </div>
            </div>

            <div class="card" style="width: 15rem;">
                <img src="~/imagens/hamburguer-picanha.jpg" class="card-img-top" class="card-img-top" alt="Imagem invalida" />
                <div class="card-body">
                    <h5 class="card-title">Picanha</h5>
                    <p class="sssss"</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>